<p>register works!</p>


<div class="col-md-4">
  <div>
    <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
      
      
      <input type = "text" class = "fortextbox" name="first_name"
        placeholder = "First Name" formControlName = "first_name">
        <br/>

        <input type = "text" class = "fortextbox" name="last_name"
        placeholder = "Last Name" formControlName = "last_name">
        <br/>

        
        <input type = "email" class = "fortextbox" name="email" 
        placeholder = "Email Address" formControlName = "email">
        <br/>


      <input type = "text" class = "fortextbox" name = "username" 
        placeholder = "Username"  formControlName="username">
      <br/>


        <input type = "password" class = "fortextbox" name="password" 
        placeholder = "Password" formControlName = "password">

      <br/>




      
      <input type = "submit" class = "forsubmit" value = "Register">

    </form>
  </div>
</div>
  